---
title: About Tech-E
description: Technology jobs are a fast growing market and are a driver of social mobility especially within the area of technology innovation. This technology program for kids will be heavily focused on current and developing technologies to allow participants an engaging real-world head start in technology innovation before they reach college programs.

---
<!-- <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>
 -->
 <div class="content">
	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>A program to <strong>engage</strong> young students</h2>
				<p>Developed by Academic Technologies Learning Environments as a summer camp for kids in 2014, Tech-E has expanded over the last several years to now become a regional program that partners with schools and school districts on a year long basis.</p>
			</div>
			<div class="image">
				<img src="/images/about/about4.jpg" alt="About 4" class="screenshot editable" />
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>With a focus on current and <strong>developing</strong> technologies</h2>
				<p>To allow participants an engaging real-world head start in the fields of technology innovation and exploration before reaching college programs.</p>
				<p>It works towards having students think about their future career options in real world terms much sooner than they normally would which enforces early college planning.</p>
			</div>
			<div class="image">
				<img src="/images/about/about3.jpg" alt="About 3" class="screenshot editable" />
			</div>
		</div>
	</section>
